<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<h1>Listing Gifs</h1><%= link_to 'New Gif', "#", "data-toggle" => "modal", "data-target" => "#new_gif_modal" %>
<%= render :partial => "gifs/new" %>
<%end%>
<div id="show">
<%= render :partial => "gifs/show" %>
</div>
